<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" tools:replace="android:usesCleartextTraffic">
        <meta-data android:name="expo.modules.updates.ENABLED" tools:node="remove" />
        <meta-data android:name="expo.modules.updates.EXPO_RUNTIME_VERSION" tools:node="remove" />
        <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" tools:node="remove" />
        <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" tools:node="remove" />
        <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" tools:node="remove" />
    </application>
</manifest>
